<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=375, user-scalable=no">
    <title>Smart Budget</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .fade-out {
            opacity: 0;
            transition: opacity 3s ease-in-out;
        }
    </style>
</head>

<body class="h-screen w-screen bg-cover bg-center bg-no-repeat flex justify-center items-center"
    style="background-image: url('media/Tampilan-awal-Logo.png');">
</body>

<script>
    setTimeout(() => {
        document.body.classList.add('fade-out'); 
        setTimeout(() => {
            window.location.href = "home.html"; 
        }, 2000); 
    }, 4000); 
</script>
</html>
